
<!--<div class="col-lg-8">
    <div class="card card-small mb-4">
        <div class="card-header border-bottom">
            <h6 class="m-0">Tạo Bài Hát</h6>
            <button type="submit" id="btntext" ng-click="hienThiTaiXuong()" style="display:none;" class="btn btn-accent"></button>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item p-3">
                <div class="row">
                    <div class="col">
                        <form name="addBaiHat">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="feLastName">Tên bài hát</label>
                                    <input type="text" validatekitudacbiet ng-model="addTenBaiHat" name="addTenBaiHat" class="form-control" id="feLastName12" maxlength="255" value="Brooks" required>
                                    <span ng-show="addBaiHat.addTenBaiHat.$touched && addBaiHat.addTenBaiHat.$invalid" style="color: red;">Tên Bài Hát không hợp lệ.</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="feFirstName">Mô tả</label>
                                    <input type="text" validatekitudacbiet ng-model="model.mota" class="form-control" id="feF1irstName" value="Sierra">
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="baihat">Bài Hát</label>
                                    <input type="file" ng-model="addLinkBaiHat" class="form-control" style="font-size:15px" name="addLinkBaiHat" id="file" ng-files="getTheFiles($files)" accept="audio/*" required multiple>
                                    <span class="thong_bao_sai" ng-show="addBaiHat.addLinkBaiHat.$touched && addBaiHat.addLinkBaiHat.$invalid">Vui Lòng Chọn Bài Hát.</span>
                                    <span class="thong_bao_sai" ng-show="dinhDangBaiHat != 'audio/mpeg' ">Sai Định Dạng Bài Hát (*.mp3).</span>
                                    <audio id="audio" style="display: none;"></audio>-->
                                    <!--audio thấy thời lượng-->
                                <!--</div>
                                <div class="form-group col-md-6">
                                    <label for="hinhanh">Hình Ảnh</label>
                                    <input type="file" ng-model="addLinkHinhAnh" class="form-control" style="font-size:15px" name="addLinkHinhAnh" id="hinhanh" ng-files="getTheFilesHinhAnh($files)" accept="image/*" required multiple>
                                    <span class="thong_bao_sai" ng-show="addBaiHat.addLinkHinhAnh.$touched && addBaiHat.addLinkHinhAnh.$invalid">Vui Lòng Chọn Hình Ảnh.</span>
                                    <span class="thong_bao_sai" ng-show="dinhDangHinhAnh != 'image/jpeg' ">Sai Định Dạng Hình Ảnh (*.jpg).</span>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="feFirstName">Chủ Đề</label>
                                    <select ng-model="valueChuDe" style="width: 100%; border-color:#007bff;" class="form-control" ng-change="changeChuDe()">
                                        <option style="width: 100%; color: #007bff;" ng-value="x.object.id" value="{{x.object.id}}" ng-repeat="x in dataloadchude">{{x.object.tenchude}}</option>

                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="feFirstName">Ca Sĩ</label>
                                    <input type="text" validatekitudacbiet ng-model="addTenCaSi" name="addTenCaSi" class="form-control" maxlength="255" id="feFir12stNa2me" value="Sierra" required>
                                    <span ng-show="addBaiHat.addTenCaSi.$touched && addBaiHat.addTenCaSi.$invalid" style="color: red;">Tên Ca Sĩ không hợp lệ.</span>

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="feFirstName">Thể Loại</label>
                                    <select ng-model="valueTheLoai" style="width: 100%; border-color:#007bff;" class="form-control" ng-change="changeTheLoai()">
                                        <option style="width: 100%; color: #007bff;" ng-value="x.object.id" value="{{x.object.id}}" ng-repeat="x in dataloadtheloai">{{x.object.tentheloai}}</option>

                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="feFirstName">Danh Sách Phát Thể Loại</label>
                                    <select ng-model="valueDanhSachPhatTheLoai" style="width: 100%; border-color:#007bff;" class="form-control" ng-change="changeDanhSachPhatTheLoai()">
                                        <option style="width: 100%; color: #007bff;" ng-value="x.object.id" value="{{x.object.id}}" ng-repeat="x in datataiDanhSachPhatTheLoai">{{x.object.tendanhsachphattheloai}}</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label id="addLoiBaiHat" for="feLastName">Lời Bài Hát</label>-->
                                    <!--<input type="text" ng-model="model.loibaihat" class="form-control" value="Sierra">-->
                                    <!--<textarea ng-model="model.loibaihat" validatekitudacbiet name="okem1" rows="8" cols="100" style="border-color: #007bff;">
                                    </textarea>

                                </div>
                            </div>


                            <button type="submit" ng-click="submit()" class="btn btn-accent" id="submitcd">Tạo Bài Hát</button>
                            <button type="submit" ng-click="cancel()" class="btn btn-accent">Thoát</button>

                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>-->
<div class="modal-header" style="margin: 0px 0px 0px 0px;">
    <h6 class="m-0">Tạo Tài Khoản Quản Trị</h6>
    <button type="submit" id="btntext" ng-click="hienThiTaiXuong()" style="display:none;" class="btn btn-accent"></button>
</div>
<div class="modal-body" style="padding: 15px 30px 0px 30px !important;">
    <form name="addTaiKhoanQuanTri">
        <div class="form-row kiemtra">
            <div class="form-group col-md-6">
                <label for="feLastName">Tài khoản</label>
                <input type="text" validatekitudacbiet ng-model="addTaiKhoan" name="addTaiKhoan" class="form-control" id="feLastName12" maxlength="255" value="Brooks" required>
                <span class="thong_bao_sai" ng-show="addTaiKhoanQuanTri.addTaiKhoan.$touched && addTaiKhoanQuanTri.addTaiKhoan.$invalid" >Tài Khoản không hợp lệ.</span>
            </div>
            <div class="form-group col-md-6">
                <label for="feFirstName">Mật Khẩu</label>
                <input type="text" validatekitudacbiet ng-model="addMatKhau" name="addMatKhau" class="form-control" id="feLastName12" maxlength="255" value="Brooks" required>
                <span class="thong_bao_sai" ng-show="addTaiKhoanQuanTri.addMatKhau.$touched && addTaiKhoanQuanTri.addMatKhau.$invalid">Mật Khẩu không hợp lệ.</span>
            </div>

        </div>      
        <div class="form-row kiemtra">
            <div class="form-group col-md-6">
                <label for="feFirstName">Phân Quyền</label>
                <select ng-model="valuePhanQuyen" style="width: 100%; border-color:#007bff;" class="form-control" ng-change="changePhanQuyen()">
                    <option style="width: 100%; color: #007bff;"  value="Admin" >Admin</option>
                    <option style="width: 100%; color: #007bff;"  value="Nhân Viên" >Nhân Viên</option>
                </select>
            </div>           
        </div>        
    </form>
</div>
<div class="modal-footer" style="margin:0px 0px 0px 0px;">

    <button type="submit" ng-click="submit()" class="btn btn-accent" id="submitcd">Tạo Tài Khoản</button>
    <button type="submit" ng-click="cancel()" class="btn btn-accent">Thoát</button>
</div>
<style>
    .modal-content {
        border-radius: 30px;
        border: 1px solid #007bff;
        top: 160px;
        background: #F5F6F8;
    }

    .thong_bao_sai {
        color: red;
        font-size: 11px;
    }
    .kiemtra, .kiemtra.form-group {
        height: 88px !important;
        max-height: 88px !important;
        margin-bottom: 0.1rem !important;
    }
    .modal-header {
        display: block;
        color: white;
        border-bottom: 1px solid #007bff !important;
    }

    .modal-body {
        padding: 0px 0px 0px 0px !important;
    }

    .modal-footer {
        border-top: 1px solid #007bff !important;
    }
</style>


