.zm-portal-modal .modal_comment {
    background-color: #6a39af;
    border-radius: 8px;
    max-height: 100%;
    display: block;
    position: initial;
}
.zm-portal-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    background-color: hsl(0deg 0% 0% / 80%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_comment {
    width: 55px;
    height: 55px;
    border-radius: 1014px;
    overflow: hidden;
    margin:0;
    padding:0;
}
#modal-scroll {
}
.media-content_comment {
    height: auto;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
    align-self: center;
    width: 0;
}
.rep_comment {
    margin-top: 5px;
}
.rep_comment_click{
    cursor:pointer;
  /*  font-size:12px;*/
}
    .rep_comment_click:hover {
        text-decoration:underline;
        opacity:0.8;
    }
#modal-scroll {
    position: relative;
    /*height: 40vh;*/
    overflow-y: auto;
}

#modal-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#modal-scroll::-webkit-scrollbar {
    width: .5rem;
}

#modal-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8a6eb2;
}
.comment-content .comment-item .username .post-time {
    color: #ffffff80;
    font-weight: 400;
    margin-left: 5px;
}
.comment-content {
    width: 610px;
}
    .comment-content .header_comment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ffffff1a;
        margin-bottom: 10px;
        padding-bottom: 10px;
        margin: 15px;
        margin-left: 20px;
    }
    .comment-content .action {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .comment-content .comment-list {
        height: 65vh;
    }
    .comment-content .noti-message {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff1a;
        margin-top: 20px;
        font-size: 12px;
        color: #ffffff80;
        padding: 12px;
        border-radius: 4px;
    }
    .comment-content .header .title {
        margin-bottom: 0;
    }
.zm-btn-comment {
    font-size: 14px;
    border-radius: 999px;
    line-height: normal;
    border: 0;
    display: inline-block;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.comment-content .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subtitle {
    color: #ffffff80;
}
.comment-content .comment-item {
    align-items: flex-start;
    padding: 10px 0;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
    .comment-content .comment-item .username {
        font-weight: 500;
        margin-bottom: 5px;
    }
    .comment-content .comment-item .reactions {
        margin: 5px 0 10px;
        display: flex;
        color: #ffffff80;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
.comment-content .comment-reply-list-wrapper {
    margin-top: 10px;
}
.comment-content .comment-item .reactions .item {
    margin-right: 10px;
}
.comment-content .comment-item .reactions .icon {
    font-size: 20px;
    position: relative;
    top: 4px;
    margin-right: 5px;
}
.comment-content .comment-reply-list-wrapper {
    margin-top: 10px;
}
.icondot_commnet {
    position: absolute;
    font-size: 17px;
    align-items: center;
    top: 1px;
    margin-left: 10px;
    text-align: center;
    display:none;
}
.comment-content .comment-item:hover .icondot_commnet{
    display:initial;
    cursor:pointer;
}
.user_profile_comment {
    position: absolute;
    right: calc(25% - 30px);
    top: calc(100% + 3px);
    padding: 6px 0;
    border-radius: 8px;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);
    background-color: hsl(265deg 85% 62%);
    min-width: 210px;
    font-size: 14px;
    line-height: 1.36;
    display:none;
}
.privatecmt:hover .user_profile_comment{
    display:inherit;
}
.privatecmtcon:hover .user_profile_comment {
    display: inherit;
}
.comment-reply-list-wrapper  .comment-item:hover .icondot_commnet {
    display: initial;
    cursor: pointer;
}
.huy_chinhsua {
    position: absolute;
    top: 35px;
    left: 15px;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
}