:root {
    --sidebar-bg: #411465;
    --border-primary: #6c696e;
    --header: #37075D;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.zm-sidebar {
    position: fixed;
    z-index: 5;
    width: 240px;
    background-color: var(--sidebar-bg);
    top: 0;
    bottom: 9rem;
    left: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    width: 1200px;
    max-width: 100%;
    font-family: 'Inter';
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
/* greek-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2ZL7SUc.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* html,body{ margin:0; padding:0; height:100%; width:100%; } */
.zm-sidebar .zm-navbar .zm-navbar-brand {
    width: 240px;
    height: 70px;
    position: fixed;
    top: 0;
    padding: 0 25px 0 28px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

    .zm-sidebar .zm-navbar .zm-navbar-brand button {
        display: inline-block;
        line-height: 0;
        border-radius: 0;
    }

.zm-navbar-brand {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.zm-sidebar-wrapper {
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    bottom: 0;
}

.zmp3-logo {
    margin-top: 12%;
    /* margin-left: 5px; */
    margin-bottom: 5%;
    height: 100%;
    /*background-image: url(/image/logo.png);*/
    background-image: url('../image/logo (2).png');
    background-repeat: no-repeat;
    background-size: 59%;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    width: 120px;
}

.zm-btn_index {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--sidebar-bg);
}

.zm-navbar-item {
    list-style-type: none;
    font-size: 2rem;
    padding: 6.5%;
    margin-left: -4%;
}

.item-navbar-hover {
    text-decoration: none;
    cursor: pointer;
    color: #cecbd1;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-size: 1.5rem;
    font-weight: 500;
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.hover-item-nav {
    color: #fff;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.zm-navbar-itemclick {
    background-color: #68449b;
    cursor: pointer;
    border-left: solid 1px;
    border-left: solid 0.4rem #ed2b91;
    color: #fff;
    text-decoration: none;
}


.zm-navbar-menu {
    margin-left: -3rem;
    display: flex;
    flex-direction: column;
}

.icon_index {
    position: relative;
    margin-right: 7%;
    font-size: 2.5rem;
}

.sidebar-divide {
    height: 2rem;
    content: "";
    border-top: 1px solid var(--border-primary);
    position: relative;
    width: 80%;
    margin-left: 10%;
}

.zm-sidebar-scrollbar {
    position: relative;
    height: 40vh;
    overflow-y: auto;
}

    .zm-sidebar-scrollbar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    .zm-sidebar-scrollbar::-webkit-scrollbar {
        width: .5rem;
    }

    .zm-sidebar-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #8a6eb2;
    }

.label-name {
    color: #fafafa;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 10%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-weight: bold;
}

.add-playlist-sidebar {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    text-align: center;
}
.add-playlist-sidebar-button:hover {
    background-color: #68449b;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.zm-sidebar-scrollbar-big {
    position: relative;
    height: 100%;
    width: 100%;
}

.add-playlist-sidebar-button {
    width: 100%;
    height: 100%;
    background-color: var(--sidebar-bg);
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #c2b3ce;
    font-weight: bold;
    line-height:4rem;
}

.iconadd-playlist {
    margin-right: 6%;
}

.zmp3-label-top {
    position: absolute;
    font-size: 2.8rem;
    top: 47%;
    right: 25%;
    color: #fff;
}

section{
   display:flex;
   justify-content:center;
   align-items:center;
   min-height:100vh;
   background:#042104;
   animation: animateBg 10s linear infinite;
}
@keyframes animateBg
{
    0%{
        filter:hue-rotate(0deg)
    }
    100% {
        filter: hue-rotate(360deg)
    }
}
section .loader{
    position:relative;
    width:120px;
    height:120px;

}
section .loader span{
    position:absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}
    section .loader span::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #00ff0a;
        box-shadow: 0 0 10px #00ff0a, 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a, 0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
        animation: animate 2s linear infinite;
        animation-delay: calc(0.1s * var(--i));
    }
    @keyframes animate{
        0%{
            transform: scale(1);
        }
        80%, 100%
        {
            transform: scale(0)
        }
    }
.suggest__list {
    position: absolute;
    overflow: hidden;
    width: 42.3%;
    margin-left: 95px;
    height: auto;
    min-height: 0;
    max-height: 601px;
    background-color: #6a39af;
    z-index: 99999;
    display: block;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 6px 0 rgb(32 33 36 / 28%);
    padding: 13px 10px;
    color: #fff;
    margin-top: 44px;
}
.suggest__item {
    font-size: 15px;
    display: flex;
    align-items: baseline;
    border-radius: 4px;
    padding: 8px 10px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.searchsubitem {
    margin-left: -5px;
    font-size: 16px !important;
}
.item_search {
    margin: 0 30px;
}
.tim_kiem_bai_hat {
    background-color: #6a39af !important;
    border-radius: 20px 20px 0 0 !important;
}
.suggest__item:hover {
    background-color: #794db7;
}
.searchitemclose{
    cursor:pointer;
}
.suggest__item__song {
    border-top: 1px solid #ffffff1a;
    margin-top: 10px;
    padding-top: 10px;
}
.suggest__item__song__kq{
    display:flex;
}
.login_or {
    font-size: 25px;
    color: #3b5998;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin: 5px;
    box-sizing: border-box;
}
.login_facebook {
    color: #3b5998;
    font-size: 62px;
}
.login_fb_gg {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.login_or_gg {
   /* font-size: 25px;*/
    /* color: #3b5998; */
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    /* background-color: #fff; */
    margin: 5px;
    /* box-sizing: border-box;*/
}

.logins:hover {
    cursor: pointer;
    opacity: 0.7;
}

.logins {
    margin-right: 20px;
}
.profile {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 999px !important;
    display: inline-block;
    vertical-align: top;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.profile:hover{
    cursor:pointer;
    opacity: 0.7;
}
.tao_playlist_layout {
    z-index: 1000000;
    /* background-color: hsl(0deg 0% 0% / 80%); */
     display: none; 
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30%;
    left: 40%;
    width: auto;
    height: auto;
}
.tao_playlist_layout_hengio {
    z-index: 1000000;
    /* background-color: hsl(0deg 0% 0% / 80%); */
    
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30%;
    left: 40%;
    width: auto;
    height: auto;
}
.tao_playlist_layout_label_hengio {
    background-color: hsl(0deg 0% 0% / 80%);
  
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.tao_playlist_layout_label {
    background-color: hsl(0deg 0% 0% / 80%);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.overplay:checked ~ .tao_playlist_layout {
    display: flex;
}
.overplay:checked ~ .tao_playlist_layout_label {
    display: block;
}
.showtimers:checked ~ .tao_playlist_layout_label{
    display:block;
}
.showtimers:checked ~ .tao_playlist_timer {
    display: flex;
}
.tao_playlist_timer {
    z-index: 1000000;
    /* background-color: hsl(0deg 0% 0% / 80%); */
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30%;
    left: 40%;
    width: auto;
    height: auto;
}

.modal_laylist_layout {
    background-color: hsl(265deg 51% 45%);
    border-radius: 8px;
    max-height: 100%;
}
.modal_content {
    width: 335px;
    text-align: center;
    color: #fff;
    padding: 15px;
}
.option_playlist {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 20px 15px 0;
    
    user-select: none;
}
.input_playlist {
    height: 40px;
    width: 100%;
    border-radius: 999px;
    border: 1px solid #ffffff1a;
    background-color: #ffffff1a;
    padding: 0 15px;
    font-size: 14px;
    max-width: 100%;
    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
    line-height: 1.5;
    vertical-align: top;
    outline: none;
    color:#fff;
}
.button_create_playlist {
    background-color: rgb(237 43 145);
    border-color: rgb(237 43 145);
    color: rgb(255 255 255);
    padding: 8px 0;
    width: 100%;
    border-radius: 20px;
    -webkit-appearance: media-slider;
}
    .button_create_playlist:hover {
        -webkit-filter: brightness(.9);
        cursor:pointer;
    }
.disable_button {
    box-shadow: none;
    opacity: .5;
  
}
    .disable_button:hover {
        cursor: not-allowed;
    }
.list_slick_casi {
    width: 100%;
    margin-top: 25px;
    padding-bottom: 30px;
    /* padding: 20px 28px; */
    margin-left: 3.5%;
}
.link_casi {
    position: relative;
    text-decoration: none;
    color: inherit;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}
    .link_casi:hover{
        cursor:pointer;
        opacity: 0.9;
    }
    .thong_tin_casi {
        height: auto;
        background-color: transparent;
    }
.hinh_casi {
    height: 120px;
   
    width: 120px;
    border-radius: 50%;
    overflow: hidden;
}
.swiper-slide {
    width: 100%;
    margin-right: 30px;
}
.timer_picker {
    display: flex;
    justify-content: space-around;
    padding: 15px 19px 20px 20px;
    border-radius: 8px;
    background-color: hsl(0deg 0% 100% / 10%);
}
.timer_input {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
    width: 100px;
    justify-content: center;
    position: relative;
    cursor: default;
}
.control_timer {
    font-size: 1rem;
    position: relative;
}
.input_timer_input {
    border: none;
    font-size: 34px;
    padding: 0;
    height: 40px;
    width: 50px;
    letter-spacing: 2px;
    color: inherit;
    background-color: rgb(0 0 0 / 0%);
    outline:none;
}
.time-options {
    display: block;
    position: absolute;
    width: 100%;
    height: 125px;
    box-shadow: 0 2px 5px hsl(0deg 0% 0% / 20%);
    top: calc(100% + 8px);
    background-color: rgb(106 57 175);
    overflow-y: scroll;
    z-index: 1;
    border-radius: 5px;
    text-align: center;
}
.option.active {
    background-color: #ffffff1a;
    padding: 6px 0;
    cursor: default;
}
.option {
    padding: 6px 0;
    cursor: default;
}


.time-options::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.time-options::-webkit-scrollbar {
    width: .5rem;
}

.time-options::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8a6eb2;
}
.option:hover {
    background-color: #ffffff1a;
}
.close_timer{
    opacity: 0.7;
}
.alarm-countdown {
    position: absolute;
    bottom: 90px;
    left: calc(50% - 109px);
    width: 218px;
    display: flex;
    align-items: center;
    background-color: rgb(237 43 145);
    color: #fff;
    padding: 9px 16px;
    font-size: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
    .alarm-countdown .countdown {
        font-weight: 700;
        margin-left: 5px;
    }
    .alarm-countdown .zm-btn {
        position: absolute;
        right: 0px;
        /* top: 0px; */
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

.package__container {
    -webkit-border-radius: 3.215rem;
    -moz-border-radius: 3.215rem;
    border-radius: 3.215rem;
    font-size: 1em;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    box-shadow: 0 13px 30px 0 rgb(38 88 180 / 20%);
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.active_package {
    border: 3px solid #ed2b91;
}

}

.cover--6-month {
    background: no-repeat url(../image/package-6-month.svg) center;
    background-size: cover;
}

.package .cover {
    width: 100%;
    height: 7.5em;
}

.package__info {
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

.package__month {
    font-size: 1.75em;
    font-weight: 900;
    letter-spacing: 0.1em;
    color: #444444;
    line-height: 1;
}

.package__line {
    width: 5.4em;
    height: 1px;
    display: block;
    border: solid 1px #979797;
    margin: 1em auto;
}

.package__price {
    color: #801a81;
    font-size: 4.5em;
    font-weight: bold;
    margin: 0 0.55em 0.7em;
    display: inline-block;
    line-height: 1;
    text-align: right;
}

    .package__price .new-price {
        display: inline-block;
        line-height: 0.8;
    }

        .package__price .new-price .before-dot {
            float: left;
        }

    .package__price .price-block {
        float: left;
    }

        .package__price .price-block .unit-currency {
            font-size: 0.38em;
        }

        .package__price .price-block .after-dot {
            font-size: 0.45em;
            line-height: 1;
        }

    .package__price .old-price {
        display: block;
        color: #7c7d80;
        font-size: 0.25em;
        font-weight: normal;
    }

.package__btn {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    background-color: #ed2b91;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.4em 2em;
    display: inline-block;
    margin-bottom: 1.5em;
    -webkit-tap-highlight-color: rgba(0,0,0,0.2) !important;
}

.body .module-banner {
    max-width: 970px;
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 16px;
    margin: 12em auto 0;
}

.module-banner .plan {
    border-radius: 2em;
    padding: 1.875em 1.875em 1.5em;
    color: #fff;
    box-shadow: 0 13px 30px 0 rgb(38 88 180 / 20%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.module-banner .plan__title {
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
}

.module-banner .plan__line {
    width: 4.3em;
    height: 2px;
    background-color: #fff;
    margin: 0.625em 0;
}

.module-banner .plan__content {
    font-size: 1.0625em;
    margin-bottom: 0.5em;
}

.module-banner .plan__price {
    color: #fff;
    font-size: 4.8625em;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    line-height: 0.8;
}

    .module-banner .plan__price .before-dot {
        float: left;
    }

    .module-banner .plan__price .price-block {
        float: left;
        text-align: right;
    }

    .module-banner .plan__price .after-dot {
        font-size: 0.44em;
        line-height: 1;
    }

    .module-banner .plan__price .unit-currency {
        font-size: 0.38em;
        line-height: 1;
    }

.module-banner .plan__info {
    font-size: 1.25em;
    margin: 3em 1.5em 0;
    color: #7c7d80;
    text-align: center;
    line-height: 1.66;
}

.module-banner .plan__store {
    text-align: center;
    margin-top: 0.9375em;
    line-height: 0;
}

    .module-banner .plan__store a {
        display: inline-block;
        line-height: 0;
        height: 3em;
    }

        .module-banner .plan__store a:first-child {
            margin-right: 1.25em;
        }

    .module-banner .plan__store a {
        display: inline-block;
        line-height: 0;
        height: 3em;
    }

.margin_cover {
    margin-bottom: 4px;
}

.phuongthuc_thanhtoan {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 15px 0px;
}

.img_thanhtoan {
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin: 0px 35px;
}


.img_thanhtoan_icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 42px;
    bottom: 40px;
    transform: rotateZ( 0deg );
    background-color: #fff;
    border-radius: 999px;
}

.active_phuongthucthanhtoan {
    border: 2px solid #fff;
}

.img_package {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 5px;
    top: 0px;
    background-color: #fff;
    border-radius: 50%;
}

.titlevip {
    display: block;
    margin: 0;
    color: #fff;
    font-size: 3em;
    font-weight: 900;
    font-family: "SFCompactDisplay", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.icon_play_cshtml {
    position: absolute;
    z-index: 5;
    /* margin: auto; */
    font-size: 20px;
    color: #fff;
    top: 12px;
    left: 24px;
}

.tao_playlist_layout_nangcapvip {
    z-index: 1000000;
    /* background-color: hsl(0deg 0% 0% / 80%); */
    /* display: none;*/
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30%;
    left: 40%;
    width: auto;
    height: auto;
}
.animate {
    -webkit-transition: 50ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 50ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 50ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 50ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 50ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    transition: 0.5s linear all;
}

    .animate.ng-leave.ng-leave-active,
    .animate.ng-enter {
        -webkit-transform: rotateX(60deg) rotateZ(60deg);
        -moz-transform: rotateX(60deg) rotateZ(60deg);
        -ms-transform: rotateX(60deg) rotateZ(60deg);
        -o-transform: rotateX(60deg) rotateZ(60deg);
        transform: rotateX(60deg) rotateZ(60deg);
        transform: translateX(50%);
        transform: translateY(50%);
        opacity: 0;
    }

        .animate.ng-enter.ng-enter-active,
        .animate.ng-leave {
            -webkit-transform: rotateX(0deg) rotateZ(0deg);
            -moz-transform: rotateX(0deg) rotateZ(0deg);
            -ms-transform: rotateX(0deg) rotateZ(0deg);
            -o-transform: rotateX(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateZ(0deg);
        
            opacity: 1;
        }
.animate-enter,
.animate-leave {
    -webkit-transition: 600ms cubic-bezier(0.250, 0.500, 0.750, 1) all;
    -moz-transition: 600ms cubic-bezier(0.250, 0.500, 0.750, 1) all;
    -ms-transition: 600ms cubic-bezier(0.250, 0.500, 0.750, 1) all;
    -o-transition: 600ms cubic-bezier(0.250, 0.500, 0.750, 1) all;
    transition: 600ms cubic-bezier(0.250, 0.500, 0.750, 1) all;
    position: relative;
    display: block;
}

    .animate-leave.animate-leave-active,
    .animate-enter {
        -webkit-transform: rotateX(45deg) rotateZ(45deg);
        -moz-transform: rotateX(45deg) rotateZ(45deg);
        -ms-transform: rotateX(45deg) rotateZ(45deg);
        -o-transform: rotateX(45deg) rotateZ(45deg);
        transform: rotateX(45deg) rotateZ(45deg);
        opacity: 0;
        height: 0px;
    }

        .animate-enter.animate-enter-active,
        .animate-leave {
            -webkit-transform: rotateX(0deg) rotateZ(0deg);
            -moz-transform: rotateX(0deg) rotateZ(0deg);
            -ms-transform: rotateX(0deg) rotateZ(0deg);
            -o-transform: rotateX(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateZ(0deg);
            opacity: 1;
            height: 30px;
        }



        .playmusicanimate.ng-enter{
            transition: 2s;
            transform:scale3d(45deg);
            position:fixed;
            height:50px;
            width:50px;
            z-index:99999;
        }
.slide.ng-animate {
    transition: 5s;
}
.slide.ng-enter {
    transition: 0.5s linear all;
    transform: translateY(-100px);
}

    .slide.ng-enter.ng-enter-active {
        transform: translateY(0);
    }
.modal_content_xacthuc {
    width: 370px;
    text-align: center;
    color: #fff;
    padding: 15px;
}
.tao_playlist_layout_xacthuc {
    z-index: 6;
    /* background-color: hsl(0deg 0% 0% / 80%); */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30%;
    left: 40%;
    width: auto;
    height: auto;
}