<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>

		<!--Other lines there already .....-->

		<httpRuntime maxRequestLength="51200" executionTimeout="3600" />
	</system.web>
	
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483647"  />
				<!--<serverRuntime uploadReadAheadSize="2147483647" />-->
				<!--<access sslFlags="Ssl, SslNegotiateCert, SslRequireCert" />-->
				<!-- 20.5 MB - making it match maxRequestLength to fix issue with uploading 20mb file -->
			</requestFiltering>
		</security>
		<!--<serverRuntime uploadReadAheadSize="2147483647" />-->
	</system.webServer>
	<!--<httpErrors errorMode="Custom">
	</httpErrors>-->
	<!--<serverRuntime uploadReadAheadSize = "524288000" />-->
</configuration>