

<div class="zm-sidebar-scrollbar-big" style="padding: 0px 0px 0px 0px; width: 100%;">
    <div class="zm-sidebar-scrollbar" style="height: 77vh; color:white; overflow-x: hidden;">
        <nav class="zm-navbar zm-navbar-main mar-t-5 mar-b-0">

            <div class="new-release-chart-header" style="">
                <div class="mar-b-15 pad-t-20">
                    <a class="" >
                        <div class="hero is-medium">
                            <div class="container hero-body" style="max-width:1236px; height: 350px;">
                                <figure class="image banner-image is-48x48">
                                    <img style=" object-fit: cover;" src="https://photo-zmp3.zadn.vn/cover/c/1/d/3/c1d3f0b3fa7d49aa5401abe85c8a5a8e.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                    </a>
                </div>
                <!--<div class="title">
            <h3 class="mar-0 title">Thể Loại</h3>

            <i class="icon fa fa-play-circle " style="padding: 10px; font-size: 42px;"></i>
            <h3 class="bold subtitle">Cập nhật lần cuối lúc 18/06/2021 21:52</h3>
        </div>-->

            </div>


            <div class="list" style="height:400px;">

                <div class="" style="height: 100%; width: 100%;">
                    <div class="container" style="max-width: 1230px;">
                        <h3 class="title">
                            <!--<a href="">
                                Chủ Đề
                            </a>-->
                            <label  style="padding-right: 1100px; font-weight: 700; font-family: inherit;">
                                Chủ Đề<i class="icon ic-go-right">
                                </i>
                            </label>
                            <a href="" class="btn-prev" ng-click="prev()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                            <a href="" class="btn-next" ng-click="next()"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </h3>
                        <div class="" style=" height: 100%; width: 100%;">  
                            <div class="chiacotchude">
                                <div class="chudehinh" ng-repeat="cd in taiChuDe | limitTo:8">
                                    <!--context-menu="contextMenuDSPTheLoai" ng-right-click="moChiTietBaiHat(dsptl)"-->
                                    <a class="" title="" href="/#/chude/{{taiChuDe[$index+size].id}}" style=" height: 100%; width: 100%;">
                                        <div class="dinhchu" style="">
                                            <figure class="image  chudegigure">
                                                <img src="{{taiChuDe[$index+size].linkhinhanh}}" class="imgchude" alt="">
                                                <div class="bongmochude" ></div>
                                                 
                                            </figure>
                                            <div class="tieudechude">
                                                <div class="mauchuchude mar-t-10">
                                                    <h3 class="title1">{{taiChuDe[$index+size].tenchude}}</h3>
                                                </div>
                                            </div>
                                        </div>

                                    </a>
                                </div>                            
                            </div>  
                        </div>
                    </div>
                </div>               
            </div>
            <div class="list">

                <div class="zm-section playlist-section mar-b-30 animate" ng-repeat="tl in taiTheLoaiKetHopDanhSachPhatTheLoaiMoi">
                    <div class="container" style="max-width: 1230px;">
                        <h3 class="title">
                            <a href="/#/chitiettheloai/{{tl.key}}" class="a-hover">
                                {{tl.tentheloai}}<i class="icon fa fa-chevron-right" style=" padding-left: 10px; font-size: 20px;">
                                </i>
                            </a>
                        </h3>
                        <div class="zm-carousel-wrapper">
                            <div class="zm-carousel">
                                <div class="zm-carousel__container animate" style="transform: translate3d(0px, 0px, 0px); width: 205px;" ng-repeat="dsptl in tl.object | limitTo: 6">


                                    <div class="zm-carousel-item is-fullhd-2 is-widescreen-2 is-desktop-20 is-touch-3 is-tablet-3" style="width: 196px;">
                                        <div class="playlist-wrapper" context-menu="contextMenuDSPTheLoai" ng-right-click="moChiTietDSP_TheLoai(dsptl)">
                                            <div class="zm-card">
                                                <div style=" width: auto; height: 185px;">
                                                    <!--context-menu="contextMenuDSPTheLoai" ng-right-click="moChiTietBaiHat(dsptl)"-->
                                                    <a class="" title="{{dsptl.tendanhsachphattheloai}}" href="/#/danhsachphat/{{dsptl.id}}" style="position: absolute; display:block;" animatedsp>
                                                        <div class="zm-card-image item" style="height:185px;">
                                                            <figure class="image is-48x48">
                                                                <img src="{{dsptl.linkhinhanh}}" style="height: 185px;    object-fit: cover;" alt="">
                                                            </figure>

                                                            <div class="opacity " ng-class="{'hien_nen_den': kiemTraDSPTLClick == dsptl.id && playmusic == 1 }"></div>
                                                            <div class="zm-actions-container itemdsp1">
                                                                <div class="zm-box zm-actions itemdsp" ng-class="{'clickdsptl': kiemTraDSPTLClick == dsptl.id && playmusic == 1 }">

                                                                    <div class="play1-play3 nut_dsp_tl" style="font-size: 2rem; height: 30px; width: 30px; " ng-click="$event.preventDefault();  yeuThichDanhSachPhatUi($parent.$index,$index);yeuThichDanhSachPhat(dsptl.id)">
                                                                        <!--<i class="far fa-heart iconmusic"></i>-->
                                                                        <i ng-show="!checklogin.dadangnhap" class="far fa-heart iconmusic" style="font-size: 14px;"></i>
                                                                        <i ng-show="dsptl.yeuthich==0 " class="far fa-heart iconmusic" style="font-size: 14px;"></i>
                                                                        <i ng-show="dsptl.yeuthich==1 " class="fas fa-heart " style="color:#ed2b91; font-size: 14px;"></i>

                                                                    </div>

                                                                    <div ng-click="$event.preventDefault(); Play(); " class="play1-play2 nut_dsp_tl vong_tron_play" style="" tabindex="0" ng-show="kiemTraDSPTLClick == dsptl.id">
                                                                        <div ng-show="playmusic == 1 " class="play_baihat_dsptl" style="top: 51%;left: 38%; height: 26px; width: 27px;"> </div>

                                                                        <!--<i ng-show="playmusic == 0 " class="nutplay_baihat_nhacmoi fa fa-play" style="color: white;"></i>-->
                                                                        <i ng-show="playmusic == 0 " class="fa fa-play" style=""></i><!--width: 55px; height: 55px; display: flex; align-items: center; justify-content: center; font-size: 20px;-->
                                                                    </div>
                                                                    <div ng-show="kiemTraDSPTLClick != dsptl.id" class="play1-play2 nut_dsp_tl vong_tron_play add-to-cartdsp" style="" tabindex="0" ng-click=" playDanhSachPhatTheLoai(dsptl.id); ">

                                                                        <!--<i class="fa fa-play-circle"></i>-->
                                                                        <i class="fa fa-play" style=""></i>
                                                                    </div>
                                                                    <div class="play1-play3 nut_dsp_tl" style="font-size: 2rem; height: 30px; width: 30px;" context-menu1="contextMenuDSPTheLoai" ng-click="$event.preventDefault(); moChiTietDSP_TheLoai(dsptl); ">

                                                                        <i class="fa fa-ellipsis-h"></i>
                                                                    </div>
                                                                </div>

                                                            </div>


                                                        </div>

                                                    </a>

                                                </div>
                                                <div class="zm-card-content">
                                                    <h4 class="title is-6">
                                                        <a title="{{dsptl.tendanhsachphattheloai}}" href="/#/danhsachphat/{{dsptl.id}}" class="a-hover">{{dsptl.tendanhsachphattheloai}}</a>
                                                    </h4><h3 class="mt-10 subtitle"></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                            <!--<button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button" tabindex="0">
                        <i class="icon ic-go-left"></i>
                    </button>
                    <button class="zm-btn zm-carousel-control-next zm-disabled is-hide button" tabindex="0">
                        <i class="icon ic-go-right"></i>
                    </button>-->
                        </div>
                    </div>
                </div>


                <template style="height: 1px; min-width: 1px; display: block;">
                </template>
            </div>


        </nav>



    </div>

</div>




