<div class="container_timkiem">
    <nav class="zm-navbar_timkiem">
        <div class="content_timkiem">
            <h3 style=" flex-shrink: 0; font-size: 24px; margin: 0px; padding-right: 20px; border-right: 1px solid #ffffff1a; text-transform: none; line-height: normal; color: rgb(255 255 255);">Kết Quả Tìm Kiếm</h3>
            <ul class="danhsach_timkiem">
                <li class="item_timkiem " ng-click="TimKiemTheoDanhMuc(0)" ng-class="{'active_timkiem': activeTimKiem==0}">
                    <a style=" display: block; padding: 15px 0px;" class="">Tất Cả </a>
                </li>
                <li class="item_timkiem " ng-click="TimKiemTheoDanhMuc(1)" ng-class="{'active_timkiem': activeTimKiem==1}">
                    <a style=" display: block; padding: 15px 0px;" class="">Bài Hát <span class="total mar-l-5">{{danhSachBaiHatTimKiem.length}}</span></a>
                </li>
                <li class="item_timkiem" ng-click="TimKiemTheoDanhMuc(2)" ng-class="{'active_timkiem': activeTimKiem==2}">
                    <a style=" display: block; padding: 15px 0px;" class="">Playlist <span class="total mar-l-5">{{danhSachPhatNguoiDungTimKiem.length + danhSachPhatTheLoaiTimKiem.length}}</span></a>
                </li>
                <li class="item_timkiem" ng-click="TimKiemTheoDanhMuc(3)" ng-class="{'active_timkiem': activeTimKiem==3}">
                    <a style=" display: block; padding: 15px 0px;" class="">Nghệ Sĩ 456456<span class="total mar-l-5">{{danhsachNgheSi.length}}</span></a>
                </li>
                <li></li>
            </ul>
        </div>
    </nav>
</div>
<div ng-if="activeTimKiem==0" class="container_kqtimkiem">
    <div class="top_ketqua">
        <h3 style="font-size:20px;">Top Kết Quả  <i>"{{tuKhoaTimKiem}}"</i></h3>

        <div class="cloumn_baihat" ng-if="danhSachBaiHatTimKiem.length >0" context-menu="contextMenuBaiHat_BaiHat" ng-right-click="moChiTietBaiHat(danhSachBaiHatTimKiem[0])">
            <div class="cloumn_baihat_kq">
                <div class="top_kq">
                    <div>
                        <div class="top_kq">
                            <div class="list_item-timkiem">
                                <div class="media-timkiem">
                                    <div class="media-timkiem-left" animate>
                                        <div class="song-thumb-timkiem  item">
                                            
                                            <label ng-show="kiemTraBaiHatDangPhat!=danhSachBaiHatTimKiem[0].id " class="opacity-timkiem add-to-cart" ng-click="playMotBanNhac(danhSachBaiHatTimKiem[0]); viTriBanNhacTimKiem(0)"> <i style=" margin: 15px 0px 0px 17px;" class="icon_play icontimkiem"></i></label>
                                            <div ng-click="Play(); " ng-show="kiemTraBaiHatDangPhat==danhSachBaiHatTimKiem[0].id  " class="playmusic_canhan_top">
                                                <div ng-show="kiemTraBaiHatDangPhat==danhSachBaiHatTimKiem[0].id  &&playmusic ==1 " class="play_baihat"> </div>

                                                <i ng-show="kiemTraBaiHatDangPhat==danhSachBaiHatTimKiem[0].id  &&playmusic ==0 " class="fas fa-play icon_play_timkiem_top"></i>
                                            </div>
                                            <figure style="width: 100%; height: 100%;" class="figure_timkiem">
                                                <img style=" width: 100%; height: 100%; object-fit:contain;" alt="item" src="{{danhSachBaiHatTimKiem[0].linkhinhanh}}" />
                                                <div ng-show="kiemTraBaiHatDangPhat!=danhSachBaiHatTimKiem[0].id  " class="opacity-timkiem"></div>
                                            </figure>
                                        </div>

                                    </div>
                                    <div class="media-timkiem-right">
                                        <div class="ten-baihat"> <span class="top-baihattimkiem"> {{danhSachBaiHatTimKiem[0].tenbaihat}}</span></div>
                                        <h3 class="hbabaihat"> Bài Hát</h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="title is-2">
            <a href="#/timkiem/">Bài Hát&nbsp;<i class="icon ic-go-right"></i></a>
        </h3>
        <div>
            <div ng-if="danhSachBaiHatTimKiem.length ==0" class="container page-search">
                <div class="container no-content mar-t-30">
                    <div class="no-content-box">
                        <i class="icon main-icon ic-svg-dics-music-icon"></i>
                        <span class="no-content-text">Không có kết quả được tìm thấy</span>
                    </div>
                </div>
            </div>
            <div ng-if="danhSachBaiHatTimKiem.length > 0" ng-class="{'active_baihat_timkiem' : kiemTraBaiHatDangPhat==x.id  }" animate class="item_nhac_da_luu_timkiem item" ng-repeat="x in danhSachBaiHatTimKiem | limitTo: 6" context-menu="contextMenuBaiHat_BaiHat" ng-right-click="moChiTietBaiHat(x)">
                <div ng-if="$index > 0" class="border_nhac_luu">
                    <div class="media_luu_baihat_timkiem">
                        <div class="media_luu_left_baihat_timkiem">
                            <span class="stt_xep_hang_timkiem"><i class="fas fa-music"></i> </span>

                            <div class="hinh_baihat_daluu item">
                                <img class="hinh_da_luu_timkiem" src="{{danhSachBaiHatTimKiem[$index].linkhinhanh}}" alt="item" />
                                <div ng-click="Play(); " ng-show="kiemTraBaiHatDangPhat==x.id " class="playmusic_canhan">
                                    <div ng-show="kiemTraBaiHatDangPhat==x.id &&playmusic ==1 " class="play_baihat"> </div>

                                    <i ng-show="kiemTraBaiHatDangPhat==x.id &&playmusic ==0 " class="fas fa-play icon_play_timkiem"></i>
                                </div>
                                <label ng-show="kiemTraBaiHatDangPhat!=x.id " class="background_icon_play_timkiem add-to-cart" ng-click="playMotBanNhac(danhSachBaiHatTimKiem[$index]); viTriBanNhacTimKiem($index)">

                                    <i class="fas fa-play icon_play_timkiem"></i>
                                </label>


                            </div>
                            <div class="info_da_luu">
                                <span class="ten_bai_hat_da_luu">{{danhSachBaiHatTimKiem[$index].tenbaihat}}</span>
                                <h3 class="ca_si_bai_hat_da_luu">{{danhSachBaiHatTimKiem[$index].casi}}</h3>
                            </div>
                        </div>
                        <div class="media_luu_content_timkiem"><div class="time_bai_hat_timkiem">{{danhSachBaiHatTimKiem[$index+1].thoiluongbaihat}}</div></div>
                        <div class="media_luu_right">
                            <label class="label_account" ng-click="toggleYeuThichBH_TimKiem($index)">
                                <i ng-show="danhSachBaiHatTimKiem[$index].yeuthich==0 && checklogin.dadangnhap == true" style="position:inherit;" class="far fa-heart icon_nav_right_first_timkiem"></i>
                                <i ng-show="danhSachBaiHatTimKiem[$index].yeuthich==1 && checklogin.dadangnhap == true" class="fas fa-heart icon_active_yeuthich_timkiem"></i>
                                <i ng-show="!checklogin.dadangnhap" class="far fa-heart icon_nav_right_first_timkiem"></i>
                            </label>
                            <!--<label class="label_account">
                                <i class="far fa-heart icon_account_notfocus"></i>
                            </label>-->
                            <span style="cursor:pointer" class="material-icons-outlined dots_account_baihat_timkiem"context-menu1="contextMenuBaiHat_BaiHat" ng-click="moChiTietBaiHat(x)">
                                more_horiz
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <h3 class="title is-2" style="font-size: 18px; color: #fff; /* margin-bottom: 10px; */ margin-left: 3.7%;">
        <a href="#/timkiem/">Playlist/Album<i class="icon ic-go-right"></i></a>
    </h3>
    <div class="item_danh_sach_phat_timkiem">
        <div ng-if="danhSachPhatNguoiDungTimKiem.length == 0 && danhSachPhatTheLoaiTimKiem.length ==0" class="container page-search">
            <div class="container no-content mar-t-30">
                <div class="no-content-box">
                    <i class="icon main-icon ic-svg-dics-music-icon"></i>
                    <span class="no-content-text">Không có kết quả được tìm thấy</span>
                </div>
            </div>
        </div>
        <div class="item_ds_chitiet_item_timkiem animate" ng-repeat="x in danhSachPhatNguoiDungTimKiem" context-menu="contextMenuPlaylist" ng-right-click="moChiTietDSP_TheLoai(x)">
            <div class="tao_playlist_item_timkiem">
                <a href="/#/playlist/{{x.id}}" class="item_tao_playlist_curent_timkiem">
                    <div class="img_playlist_timkiem" ng-style="{'background-image': 'url(' + x.linkhinhanh + ')'}"></div>
                    <div class="hover_playlist item" animate ng-class="{'display_block' : kiemTraDSPNguoiDungClick == x.id  }">
                        <label class="hover_remove_playlist" style="cursor:pointer;" ng-click="$event.preventDefault();  yeuThichDanhSachPhatNguoiDung($index); yeuThichDanhSachPhatNguoiDungID(x.id)">
                            <i ng-show="x.yeuthich==1 && checklogin.dadangnhap == true" class="fas fa-heart icon_account"></i>
                            <i ng-show="x.yeuthich==0 && checklogin.dadangnhap == true" class="far fa-heart icon_nav_right_first_timkiem_a"></i>
                            <i ng-show="!checklogin.dadangnhap" class="far fa-heart icon_nav_right_first_timkiem_a"></i>
                        </label>
                        <div ng-click="$event.preventDefault(); Play(); " class="play1-play2 nut_dsp_tl vong_tron_play" style="" tabindex="0" ng-show="kiemTraDSPNguoiDungClick == x.id">
                            <div ng-show="playmusic == 1 " class="play_baihat_dsptl" style="top: 51%;left: 38%; height: 26px; width: 27px;"> </div>

                            <!--<i ng-show="playmusic == 0 " class="nutplay_baihat_nhacmoi fa fa-play" style="color: white;"></i>-->
                            <i ng-show="playmusic == 0 " class="fa fa-play" style=""></i><!--width: 55px; height: 55px; display: flex; align-items: center; justify-content: center; font-size: 20px;-->
                        </div>
                        <div ng-show="kiemTraDSPNguoiDungClick != x.id" class="play1-play2 nut_dsp_tl vong_tron_play add-to-cartdsp add-to-cart" style="" tabindex="0" ng-click="$event.preventDefault();playDanhSachPhatNguoiDung(x);">

                            <!--<i class="fa fa-play-circle"></i>-->
                            <i class="fa fa-play" style=""></i>
                        </div>
                        <label class="hover_remove_playlist_dots" context-menu1="contextMenuPlaylist" ng-click="$event.preventDefault(); moChiTietDSP_TheLoai(x); ">
                            <span style="font-size:23px;" class="material-icons-outlined">
                                more_horiz
                            </span>
                        </label>
                        <img src="{{x.linkhinhanh}}" hidden style="width: 0; height:0;object-fit:cover" />
                    </div>
                    <div class="hover_background"  ng-class="{'display_blockbg' : kiemTraDSPNguoiDungClick == x.id  }">
                    </div>
                </a>
                <div class="ten_danh_sach_phat_da_tao" style="margin:4px;">
                    <h4 class="ten_bai_hat_da_luu_timkiem hover_ten_dsphat"><a> {{x.tendanhsachphat}}</a></h4>

                </div>
            </div>
        </div>
        <div class="item_ds_chitiet_item_timkiem animate" ng-repeat="x in danhSachPhatTheLoaiTimKiem" context-menu="contextMenuDSPTheLoai" ng-right-click="moChiTietDSP_TheLoai(x)">
            <div class="tao_playlist_item_timkiem">
                <a href="/#/danhsachphat/{{x.id}}" class="item_tao_playlist_curent_timkiem">
                    <div class="img_playlist_timkiem" ng-style="{'background-image': 'url(' + x.linkhinhanh + ')'}"></div>
                    <div class="hover_playlist item" animate ng-class="{'display_block' : kiemTraDSPTLClick == x.id  }">
                        <label class="hover_remove_playlist" ng-click="$event.preventDefault();  yeuThichDanhSachPhatTimKiem($index);">
                            <i ng-show="x.yeuthich==1 && checklogin.dadangnhap == true" class="fas fa-heart icon_account"></i>
                            <i ng-show="x.yeuthich==0 && checklogin.dadangnhap == true" class="far fa-heart icon_nav_right_first_timkiem_a"></i>
                            <i ng-show="!checklogin.dadangnhap" class="far fa-heart icon_nav_right_first_timkiem_a"></i>
                        </label>
                        <div ng-click="$event.preventDefault(); Play(); " class="play1-play2 nut_dsp_tl vong_tron_play" style="" tabindex="0" ng-show="kiemTraDSPTLClick == x.id">
                            <div ng-show="playmusic == 1 " class="play_baihat_dsptl" style="top: 51%;left: 38%; height: 26px; width: 27px;"> </div>

                            <!--<i ng-show="playmusic == 0 " class="nutplay_baihat_nhacmoi fa fa-play" style="color: white;"></i>-->
                            <i ng-show="playmusic == 0 " class="fa fa-play" style=""></i><!--width: 55px; height: 55px; display: flex; align-items: center; justify-content: center; font-size: 20px;-->
                        </div>
                        <div ng-show="kiemTraDSPTLClick != x.id" class="play1-play2 nut_dsp_tl vong_tron_play add-to-cartdsp add-to-cart" style="" tabindex="0" ng-click="$event.preventDefault(); playDanhSachPhatTheLoai(x.id);">

                            <!--<i class="fa fa-play-circle"></i>-->
                            <i class="fa fa-play" style=""></i>
                        </div>
                        <label class="hover_remove_playlist_dots" context-menu1="contextMenuDSPTheLoai" ng-click="$event.preventDefault(); moChiTietDSP_TheLoai(x); ">
                            <span style="font-size:23px;" class="material-icons-outlined">
                                more_horiz
                            </span>
                        </label>
                        <img src="{{x.linkhinhanh}}" hidden style="width: 0; height:0;object-fit:cover" />
                    </div>
                    <div  ng-class="{'display_blockbg' : kiemTraDSPTLClick == x.id  }" class="hover_background">
                    </div>
                </a>
                <div class="ten_danh_sach_phat_da_tao" style="margin:4px;">
                    <h4 class="ten_bai_hat_da_luu_timkiem hover_ten_dsphat"><a> {{x.tendanhsachphattheloai}}</a></h4>

                </div>
            </div>
        </div>




    </div>

</div>
<div ng-if="activeTimKiem==1" class="tabbaihat_timkiem">
    <h3 class="title is-2">
        <a href="#/timkiem/">Bài Hát&nbsp;<i class="icon ic-go-right"></i></a>
    </h3>
    <div>
        <div ng-if="danhSachBaiHatTimKiem.length ==0" class="container page-search">
            <div class="container no-content mar-t-30">
                <div class="no-content-box">
                    <i class="icon main-icon ic-svg-dics-music-icon"></i>
                    <span class="no-content-text">Không có kết quả được tìm thấy</span>
                </div>
            </div>
        </div>
        <div class="item_nhac_da_luu_timkiem" ng-class="{'active_baihat_timkiem' : kiemTraBaiHatDangPhat==x.id }" ng-repeat="x in danhSachBaiHatTimKiem | limitTo : 30" context-menu="contextMenuBaiHat_BaiHat" ng-right-click="moChiTietBaiHat(x)">
            <div class="border_nhac_luu">
                <div class="media_luu_baihat_timkiem">
                    <div class="media_luu_left_baihat_timkiem" animate>
                        <span class="stt_xep_hang_timkiem"><i class="fas fa-music"></i> </span>

                        <div class="hinh_baihat_daluu item">
                            <div ng-click="Play(); " ng-show="kiemTraBaiHatDangPhat==x.id " class="playmusic_canhan">
                                <div ng-show="kiemTraBaiHatDangPhat==x.id &&playmusic ==1 " class="play_baihat"> </div>

                                <i ng-show="kiemTraBaiHatDangPhat==x.id &&playmusic ==0 " class="fas fa-play icon_play_timkiem"></i>
                            </div>
                            <label ng-show="kiemTraBaiHatDangPhat!=x.id " class="background_icon_play_timkiem add-to-cart" ng-click="playMotBanNhac(x); viTriBanNhacTimKiem($index)">

                                <i class="fas fa-play icon_play_timkiem"></i>
                            </label>
                            <img class="hinh_da_luu_timkiem" src="{{x.linkhinhanh}}" />

                        </div>
                        <div class="info_da_luu">
                            <span class="ten_bai_hat_da_luu">{{x.tenbaihat}}</span>
                            <h3 class="ca_si_bai_hat_da_luu">{{x.casi}}</h3>
                        </div>
                    </div>
                    <div class="media_luu_content_timkiem"><div class="time_bai_hat_timkiem">{{x.thoiluongbaihat}}</div></div>
                    <div class="media_luu_right">
                        <label class="label_account" ng-click="toggleYeuThichBH_TimKiem($index)">
                            <i ng-show="x.yeuthich==0 && checklogin.dadangnhap == true" style="right:141px" class="far fa-heart icon_nav_right_first_timkiem_TAB"></i>
                            <i ng-show="x.yeuthich==1 && checklogin.dadangnhap == true" style="position: inherit;" class="fas fa-heart icon_active_yeuthich_timkiem"></i>
                            <i ng-show="!checklogin.dadangnhap" style="right:141px"  class="far fa-heart icon_nav_right_first_timkiem_TAB"></i>
                        </label>
                        <!--<label class="label_account">
                            <i class="far fa-heart icon_account_notfocus"></i>
                        </label>-->
                        <span class="material-icons-outlined dots_account_baihat_timkiem" context-menu1="contextMenuBaiHat_BaiHat" ng-click="moChiTietBaiHat(x)">
                            more_horiz
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="item_danh_sach_phat_timkiem" ng-if="activeTimKiem==2">
    <h3 class="title is-2" style="font-size: 18px; color: #fff; /* margin-bottom: 10px; */ margin-left: 1.2%; width: 100%; padding-top: 25px; padding-bottom: 10px;">
        <a href="#/timkiem/">Playlist/Album<i class="icon ic-go-right"></i></a>
    </h3>
    <div ng-if="danhSachPhatNguoiDungTimKiem.length == 0 && danhSachPhatTheLoaiTimKiem.length ==0" class="container page-search">
        <div class="container no-content mar-t-30">
            <div class="no-content-box">
                <i class="icon main-icon ic-svg-dics-music-icon"></i>
                <span class="no-content-text">Không có kết quả được tìm thấy</span>
            </div>
        </div>
    </div>

    <div ng-if="danhSachPhatNguoiDungTimKiem.length > 0" class="item_ds_chitiet_item_timkiem_tab" ng-repeat="x in danhSachPhatNguoiDungTimKiem" context-menu="contextMenuPlaylist" ng-right-click="moChiTietDSP_TheLoai(x)">
        <div class="tao_playlist_item_timkiem">
            <a href="/#/playlist/{{x.id}}" class="item_tao_playlist_curent_timkiem">
                <div class="img_playlist_timkiem" ng-style="{'background-image': 'url(' + x.linkhinhanh + ')'}"></div>
                <div class="hover_playlist item" animate ng-class="{'display_block' : kiemTraDSPTLClick == x.id  }">
                    <div class="hover_remove_playlist" style="cursor:pointer;" ng-click="$event.preventDefault();  yeuThichDanhSachPhatNguoiDung($index); yeuThichDanhSachPhatNguoiDungID(x.id)">
                        <div>
                            <i ng-show="x.yeuthich==1 && checklogin.dadangnhap == true" class="fas fa-heart icon_account"></i>
                            <i ng-show="x.yeuthich==0 && checklogin.dadangnhap == true" class="far fa-heart icon_nav_right_first_timkiem_a"></i>
                            <i ng-show="!checklogin.dadangnhap" class="far fa-heart icon_nav_right_first_timkiem_a"></i>
                        </div>

                    </div>
                    <div ng-click="$event.preventDefault(); Play(); " class="play1-play2 nut_dsp_tl vong_tron_play" style="" tabindex="0" ng-show="kiemTraDSPNguoiDungClick == x.id">
                        <div ng-show="playmusic == 1 " class="play_baihat_dsptl" style="top: 51%;left: 38%; height: 26px; width: 27px;"> </div>

                        <!--<i ng-show="playmusic == 0 " class="nutplay_baihat_nhacmoi fa fa-play" style="color: white;"></i>-->
                        <i ng-show="playmusic == 0 " class="fa fa-play" style=""></i><!--width: 55px; height: 55px; display: flex; align-items: center; justify-content: center; font-size: 20px;-->
                    </div>
                    <div ng-show="kiemTraDSPNguoiDungClick != x.id" class="play1-play2 nut_dsp_tl vong_tron_play add-to-cartdsp add-to-cart" style="" tabindex="0" ng-click="$event.preventDefault();playDanhSachPhatNguoiDung(x);">

                        <!--<i class="fa fa-play-circle"></i>-->
                        <i class="fa fa-play" style=""></i>
                    </div>
                    <label class="hover_remove_playlist_dots" context-menu1="contextMenuPlaylist" ng-click="$event.preventDefault(); moChiTietDSP_TheLoai(x); ">
                        <span style="font-size:23px;" class="material-icons-outlined">
                            more_horiz
                        </span>
                    </label>
                    <img src="{{x.linkhinhanh}}" hidden style="width: 0; height:0;object-fit:cover" />
                </div>
                <div class="hover_background">
                </div>
            </a>
            <div class="ten_danh_sach_phat_da_tao" style="margin:4px;">
                <h4 class="ten_bai_hat_da_luu_timkiem hover_ten_dsphat"><a> {{x.tendanhsachphat}}</a></h4>

            </div>
        </div>
    </div>
    <div ng-if="danhSachPhatTheLoaiTimKiem.length > 0" class="item_ds_chitiet_item_timkiem_tab" ng-repeat="x in danhSachPhatTheLoaiTimKiem" context-menu="contextMenuDSPTheLoai" ng-right-click="moChiTietDSP_TheLoai(x)">
        <div class="tao_playlist_item_timkiem">
            <a href="/#/danhsachphat/{{x.id}}" class="item_tao_playlist_curent_timkiem">
                <div class="img_playlist_timkiem" ng-style="{'background-image': 'url(' + x.linkhinhanh + ')'}"></div>
                <div class="hover_playlist item" animate ng-class="{'display_block' : kiemTraDSPTLClick == x.id  }">
                    <label class="hover_remove_playlist" style="cursor:pointer;" ng-click="$event.preventDefault();  yeuThichDanhSachPhatTimKiem($index);">
                        <i ng-show="x.yeuthich==1 && checklogin.dadangnhap == true" class="fas fa-heart icon_account"></i>
                        <i ng-show="x.yeuthich==0 && checklogin.dadangnhap == true" class="far fa-heart icon_nav_right_first_timkiem_a"></i>
                        <i ng-show="!checklogin.dadangnhap" class="far fa-heart icon_nav_right_first_timkiem_a"></i>
                    </label>
                    <div ng-click="$event.preventDefault(); Play(); " class="play1-play2 nut_dsp_tl vong_tron_play" style="" tabindex="0" ng-show="kiemTraDSPTLClick == x.id">
                        <div ng-show="playmusic == 1 " class="play_baihat_dsptl" style="top: 51%;left: 38%; height: 26px; width: 27px;"> </div>

                        <!--<i ng-show="playmusic == 0 " class="nutplay_baihat_nhacmoi fa fa-play" style="color: white;"></i>-->
                        <i ng-show="playmusic == 0 " class="fa fa-play" style=""></i><!--width: 55px; height: 55px; display: flex; align-items: center; justify-content: center; font-size: 20px;-->
                    </div>
                    <div ng-show="kiemTraDSPTLClick != x.id" class="play1-play2 nut_dsp_tl vong_tron_play add-to-cartdsp add-to-cart" style="" tabindex="0" ng-click="$event.preventDefault(); playDanhSachPhatTheLoai(x.id);">

                        <!--<i class="fa fa-play-circle"></i>-->
                        <i class="fa fa-play" style=""></i>
                    </div>
                    <label class="hover_remove_playlist_dots" context-menu1="contextMenuDSPTheLoai" ng-click="$event.preventDefault(); moChiTietDSP_TheLoai(x); ">
                        <span style="font-size:23px;" class="material-icons-outlined">
                            more_horiz
                        </span>
                    </label>
                    <img src="{{x.linkhinhanh}}" hidden style="width: 0; height:0;object-fit:cover" />
                </div>
                <div class="hover_background">
                </div>
            </a>
            <div class="ten_danh_sach_phat_da_tao" style="margin:4px;">
                <h4 class="ten_bai_hat_da_luu_timkiem hover_ten_dsphat"><a> {{x.tendanhsachphattheloai}}</a></h4>

            </div>
        </div>
    </div>




</div>
<div ng-if="activeTimKiem==3" style=" flex-direction: column;height:auto">
    <h3 style="padding-left: 60px; padding-top: 30px;" class="title is-2">
        <a href="#/timkiem/">Nghệ Sĩ&nbsp;<i class="icon ic-go-right"></i></a>
    </h3>
    <div style="display:flex; height:auto; flex-wrap:wrap">
        <div class="column_timkiem mar-b-30_timkiem is-fullhd-20_timkiem is-widescreen-20_timkiem is-desktop-3_timkiem is-touch-3_timkiem is-tablet-3_timkiem" ng-repeat="x in danhsachNgheSi">
            <div class="zm-card_timkiem zm-card--artist_timkiem">
                <div class="zm-card-image_timkiem is-rounded_timkiem">
                    <a class="" title="Jack" href="#/nghesi/{{x.uid}}">
                        <figure class="image_timkiem is-48x48_timkiem figure_timkiem">
                            <img ng-if="x.hinhdaidien.length > 5" src="{{x.hinhdaidien}}" alt="">
                            <img ng-if="x.hinhdaidien.length < 5" class="img_account" src="https://avatar.talk.zdn.vn/default.jpg" />
                        </figure>
                        <div class="opacity_timkiem "></div><div class="zm-actions-container_timkiem">
                            <div class="zm-box zm-actions_timkiem artist-actions_timkiem">
                                <button class="zm-btn_timkiem zm-tooltip-btn_timkiem animation-like_timkiem is-hidden_timkiem active_timkiem is-hover-circle_timkiem button_timkiem" tabindex="0">
                                    <i class="icon ic-like"></i>
                                    <i class="icon ic-like-full"></i>
                                </button>
                                <button class="zm-btn_timkiem action-play_timkiem  button_timkiem" tabindex="0">
                                    <i class="icon action-play ic-svg-play-circle"></i>
                                </button>
                                <button class="zm-btn_timkiem zm-tooltip-btn_timkiem is-hidden_timkiem is-hover-circle_timkiem button_timkiem" tabindex="0"><i class="icon ic-more"></i></button>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="zm-card-content_timkiem">
                    <div class="title_timkiem">
                        <a class="is-ghost_timkiem" href="/nghe-si/Trinh-Tran-Phuong-Tuan">{{x.hoten}}</a>
                    </div>
                    <div class="subtitle_timkiem"><span class="followers">{{x.soluongtheodoi}} theo dõi</span></div>
                </div>
                <div class="zm-card-footer_timkiem">
                    <button ng-show="x.theodoi==1" ng-click="theoDoi_Timkiem($index); x.soluongtheodoi = x.soluongtheodoi-1; " style="cursor:pointer;" class="zm-btn_timkiem is-outlined_timkiem active_timkiem mar-t-15_timkiem mar-b-20_timkiem is-small_timkiem is-upper_timkiem button_timkiem" tabindex="0">
                        <span class="material-icons-outlined">check</span><span>Đã Theo Dõi</span>
                    </button>
                    <button ng-show="x.theodoi==0" ng-click="theoDoi_Timkiem($index); x.soluongtheodoi = x.soluongtheodoi+1;" class="zm-btn button_theodoi is-outlined mar-t-15 mar-b-20 is-small is-upper button" tabindex="0">
                        <i style=" font-size: 14px; margin: 0px 5px; " class="fas fa-user-plus"></i><span>Theo Dõi</span>
                    </button>
                    <button ng-show="!checklogin.dadangnhap" ng-click="theoDoi_Timkiem($index)" class="zm-btn button_theodoi is-outlined mar-t-15 mar-b-20 is-small is-upper button" tabindex="0">
                        <i style=" font-size: 14px; margin: 0px 5px; " class="fas fa-user-plus"></i><span>Theo Dõi</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>

<script>

    $(function () {
        $('.add-to-cart').on('click', function () {
            var cart = $('.shopping-cart');
            var imgtodrag = $(this).parent().find("img").eq(0);
            if (imgtodrag) {
                var imgclone = imgtodrag.clone()
                    .offset({
                        top: imgtodrag.offset().top,
                        left: imgtodrag.offset().left
                    })
                    .css({
                        'opacity': '0.8',
                        'position': 'absolute',
                        'height': '150px',
                        'width': '150px',
                        'z-index': '100',
                        'border-radius': '50%'
                    })
                    .appendTo($('body'))
                    .animate({
                        'top': cart.offset().top + 10,
                        'left': cart.offset().left + 10,
                        'width': 75,
                        'height': 75
                    }, 1000, 'easeInOutExpo');

                setTimeout(function () {
                    cart.effect("shake", {
                        times: 2
                    }, 200);
                }, 1500);

                imgclone.animate({
                    'width': 0,
                    'height': 0
                }, function () {
                    $(this).detach()
                });
            }
        });
    });
</script>