<div class="modal-header" style="margin: 0px 0px 0px 0px;">
    <h6 class="m-0">Sửa Danh Sách Phát Thể Loại</h6>
    <button type="submit" id="btntext" ng-click="hienThiTaiXuong()" style="display:none;" class="btn btn-accent"></button>
</div>
<div class="modal-body" style="padding: 15px 30px 0px 30px !important;">
    <form name="editDanhSachPhatTheLoai">
        <div class="form-row kiemtra">
            <div class="form-group col-md-6">
                <label for="feLastName">Tên bài hát</label>
                <input style=" border-color:#007bff;" type="text" validatekitudacbiet ng-model="editTenDanhSachPhatTheLoai" name="editTenDanhSachPhatTheLoai" class="form-control" id="feLastName12" maxlength="255" value="Brooks" required>
                <span class="thong_bao_sai" ng-show="editDanhSachPhatTheLoai.editTenDanhSachPhatTheLoai.$touched && editDanhSachPhatTheLoai.editTenDanhSachPhatTheLoai.$invalid">Tên Bài Hát không hợp lệ.</span>
            </div>
            <div class="form-group col-md-6">
                <label for="feFirstName">Mô tả</label>
                <input style=" border-color:#007bff;" type="text" validatekitudacbiet ng-model="modelDanhSachPhatTheLoai.mota" maxlength="500" class="form-control" id="feF1irstName" value="Sierra">
            </div>
        </div>
        <!--<div class="form-row kiemtra">
           
            <div class="form-group col-md-6">
                <label for="feFirstName">Mô tả</label>
                <input style="width: 200%; border-color:#007bff;" type="text" validatekitudacbiet ng-model="modelDanhSachPhatTheLoai.mota" maxlength="500" class="form-control" id="feF1irstName" value="Sierra">
            </div>

        </div>-->
        <!--<div class="form-row">
            <div class="form-group col-md-6">
                <label for="feFirstName">Thể Loại</label>
                <select ng-model="valueTheLoai" style="width: 200%; border-color:#007bff;" class="form-control" ng-change="changeTheLoai()">
                    <option style="width: 100%; color: #007bff;" ng-value="x.id" value="{{x.id}}" ng-repeat="x in taiTheLoai">{{x.tentheloai}}</option>
                </select>
            </div>
        </div>-->
    </form>
</div>
<div class="modal-footer" style="margin:0px 0px 0px 0px;">

    <button type="submit" ng-click="submit()" class="btn btn-accent" id="submitcd">Sửa Danh Sách Phát Thể Loại</button>
    <button type="submit" ng-click="cancel()" class="btn btn-accent">Thoát</button>
</div>
<style>
    .modal-content {
        border-radius: 30px;
        border: 1px solid #007bff;
        top: 160px;
        background: #F5F6F8;
        width:150%;
    }

    .thong_bao_sai {
        color: red;
        font-size: 11px;
    }

    .kiemtra, .kiemtra.form-group {
        height: 88px !important;
        max-height: 88px !important;
        margin-bottom: 0.1rem !important;
    }

    .modal-header {
        display: block;
        color: white;
        border-bottom: 1px solid #007bff !important;
    }

    .modal-body {
        padding: 0px 0px 0px 0px !important;
    }

    .modal-footer {
        border-top: 1px solid #007bff !important;
    }
</style>
