<div id='contextmenu-node' class='zm-contextmenu song-menu ng-scope'>
    <div class='menu'>
        <ul class='menu-list'>
            <div class='menu-list--submenu'>
                <div class='media song-info-menu'>
                    <div class='media-left'>
                        <
                        figure class='image is-40x40'><img src='https://photo-resize-zmp3.zadn.vn/w94_r1x1_jpeg/cover/8/f/f/a/8ffa6834a803b7dad7128d26e6094b70.jpg' alt=''></figure>
                    </div><div class='is-w-150 media-content'>
                        <a><div class='title-wrapper'><span class='item-title title' title='Sài Gòn Ơi Xin Lỗi Cảm Ơn'>Sài Gòn Ơi Xin Lỗi Cảm Ơn</span></div></a><div class='song-stats'>
                            <div class='stat-item'>
                                <i class='icon ic-like'></i><span>5K</span>
                            </div><div class='stat-item'>
                                <i class='icon ic-view'></i>
                                <span>
                                    122K
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        <ul class='menu-list'>
            <div class='group-button-menu'>
                <div class='group-button-list'>
                    <button class='zm-btn button'>
                        <i class='icon ic-download'></i>
                        <span>Tải xuống</span>
                    </button>
                    <button class='zm-btn button' tabindex='0'>
                        <i class='icon ic-add-lyric'></i>
                    <span>Lời bài hát</span>
                    </button><span class='zm-btn button'>
                        <i class='icon ic-denial'>
                        </i>
                        <span>Chặn</span>
                    </span>
                </div>
            </div>
        </ul>
        <ul class='menu-list'>
            <li>
                <button class='zm-btn button' tabindex='0'>
                    <i class='icon ic-add-play-now'></i><span>Thêm vào danh sách phát</span>
                </button>
            </li>
            <li>
                <button class='zm-btn button' tabindex='0'>
                    <i class='icon ic-play-next'></i><span>Phát tiếp theo</span>
                </button>
            </li>
            <li>
                <div class='menu-list--submenu'>
                <button class='zm-btn button' tabindex='0'>
                    <i class='icon ic-add'></i>
                    <span>Thêm vào playlist</span>
                    <i class='icon ic-go-right'></i></button></div>
            </li>
            <li>
                <button class='zm-btn button' tabindex='0'>
                    <i class='icon ic-comment'></i><span>Bình luận</span>
                    <span class='comment-badge'></span>
                </button>
            </li>
            <li>
                <button class='zm-btn button' tabindex='0'>
                    <i class='icon ic-link'></i><span>Sao chép link</span>
                </button>
            </li>
            <li>
                <div class='menu-list--submenu'>
                    <button class='zm-btn button' tabindex='0'>
                        <i class='icon ic-share'></i><span>Chia sẻ</span>
                        <i class='icon ic-go-right'>
                        </i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>