<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <button type="submit" id="btntext" ng-click="hienThiTaiXuong()" style="display:none;" class="btn btn-accent"></button>
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <!--<span class="text-uppercase page-subtitle">Dashboard</span>-->
            <h3 class="page-title">Tranh Chủ</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Small Stats Blocks -->
    <div class="row">
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">BÀI HÁT</span>
                            <h6 class="stats-small__value count my-3">{{taiBangBaiHat.length}}</h6>
                            
                        </div>
                       
                        <!--<div class="stats-small__data">
                            <span class="stats-small__percentage stats-small__percentage--increase">4.7%</span>
                        </div>-->
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-1"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Trang</span>
                            <h6 class="stats-small__value count my-3">17</h6>
                        </div>
                        <!--<div class="stats-small__data">
                            <span class="stats-small__percentage stats-small__percentage--increase">12.4%</span>
                        </div>-->
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-2"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-4 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">TK Quản Trị</span>
                            <h6 class="stats-small__value count my-3">{{taiTaiKhoanQuanTri.length}}</h6>
                        </div>
                        <!--<div class="stats-small__data">
                            <span class="stats-small__percentage stats-small__percentage--decrease">3.8%</span>
                        </div>-->
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-3"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-4 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">DSP THỂ LOẠI</span>
                            <h6 class="stats-small__value count my-3">{{taiBangDanhSachPhatTheLoai.length}}</h6>
                        </div>
                        <!--<div class="stats-small__data">
                            <span class="stats-small__percentage stats-small__percentage--increase">12.4%</span>
                        </div>-->
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-4"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-4 col-sm-12 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">DSP NGƯỜI DÙNG</span>
                            <h6 class="stats-small__value count my-3">{{taiBangDanhSachPhatNguoiDung.length}}</h6>
                        </div>
                        <!--<div class="stats-small__data">
                            <span class="stats-small__percentage stats-small__percentage--decrease">2.4%</span>
                        </div>-->
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-5"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">NGƯỜI DÙNG</span>
                            <h6 class="stats-small__value count my-3">{{taiBangNguoiDung.length}}</h6>
                        </div>
                        <!--<div class="stats-small__data">
                            <span class="stats-small__percentage stats-small__percentage--increase">4.7%</span>
                        </div>-->
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-6"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Gói Vip</span>
                            <h6 class="stats-small__value count my-3">{{taiBangGoiVip.length}}</h6>
                        </div>
                        <!--<div class="stats-small__data">
                            <span class="stats-small__percentage stats-small__percentage--increase">12.4%</span>
                        </div>-->
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-7"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-4 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Thể Loại</span>
                            <h6 class="stats-small__value count my-3">{{taiBangTheLoai.length}}</h6>
                        </div>
                        <!--<div class="stats-small__data">
                            <span class="stats-small__percentage stats-small__percentage--decrease">3.8%</span>
                        </div>-->
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-8"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-4 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">CHỦ ĐỀ</span>
                            <h6 class="stats-small__value count my-3">{{taiBangChuDe.length}}</h6>
                        </div>
                        <!--<div class="stats-small__data">
                            <span class="stats-small__percentage stats-small__percentage--increase">12.4%</span>
                        </div>-->
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-9"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-4 col-sm-12 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">QUẢNG CÁO</span>
                            <h6 class="stats-small__value count my-3">{{taiBangQuangCao.length}}</h6>
                        </div>
                        <!--<div class="stats-small__data">
                            <span class="stats-small__percentage stats-small__percentage--decrease">2.4%</span>
                        </div>-->
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-10"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="">
        <!--<div class="col-lg-8 col-md-12 col-sm-12 mb-4">-->
        <div class="card card-small" style=" width: 100%; max-height:430px;">
            <div class="card-header border-bottom">
                <h6 class="m-0">Bài Hát</h6>
            </div>
            <div class="card-body pt-0">
                <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                <div class="row border-bottom py-2 bg-light">
                    <div class="col-12 col-sm-6" style=" max-width: 40%; margin-left: 33%;">
                        <div id="blog-overview-date-range" class="input-daterange input-group input-group-sm my-auto ml-auto mr-auto ml-sm-auto mr-sm-0" style="display: flex;flex-wrap: nowrap;">
                            <span style=" padding: 4px;">Chọn Tháng:</span>
                            <div style=" display: flex; flex-wrap: nowrap; width: 32%; border: 1px solid #007bff;">
                                <span style=" padding: 4px 20px 4px 20px;">{{model.theothang | date:'MM/yyyy'}}</span>
                                <input style=" width: 34%; border: 1px solid white; font-size: 15px;" type="month" class="theothang" ng-change="hienThiTaiXuong()" ng-model="model.theothang">
                                <!--<label style="margin: 4px; color: #007bff;">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>

                                </label>-->
                            </div>
                            <button id="" type="submit" ng-click="layDanhSach()" class="btn btn-accent " style=" height: max-content;margin-left: 5px;">Lấy Danh Sách</button>
                        </div>
                    </div>

                </div>
                <canvas id="line-chart" style="max-width: 100% !important;display: block;height: 320px; width: 100%;" class="blog-overview-users"></canvas>
            </div>
        </div>
        <!--</div>-->
        <!--<div class="col-lg col-md-4 col-sm-6 mb-4" style=" margin-right: 160px; margin-left: 100px; ">
            <canvas id="line-chart" width="350" height="350" style=" max-width: 100% !important; display: block; height: 333px !important; width: 751px !important;"></canvas>
        </div>
        <div class="col-lg col-md-4 col-sm-6 mb-4">
            <canvas id="pie-chart" width="450" height="450"></canvas>
        </div>-->


    </div>

    <div class="row" style="margin-top:30px;">
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex"  style=" background: #ffc107;">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Doanh Thu Theo Ngày</span>
                            <span class="">{{date | date:'dd/MM/yyyy'}}</span>
                            <h6 class="stats-small__value count my-3">{{tongTienNgay | number:'0' | vietNamDong }}</h6>
                        </div>
                        <!--<div class="stats-small__data">
                            <span class="stats-small__percentage stats-small__percentage--increase">4.7%</span>
                        </div>-->
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-6"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex"  style=" background: #ffc107;">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Doanh Thu Theo Tháng</span>
                            <span class="">{{date | date:'MM/yyyy'}}</span>
                            <h6 class="stats-small__value count my-3">{{tongTienThang | number:'0' | vietNamDong }}</h6>
                        </div>
                        <!--<div class="stats-small__data">
                            <span class="stats-small__percentage stats-small__percentage--increase">12.4%</span>
                        </div>-->
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-7"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-4 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex" style=" background: #ffc107;">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Doanh Thu Theo Năm</span>
                            <span class="">{{date | date:'yyyy'}}</span>
                            <h6 class="stats-small__value count my-3">{{tongTienNam | number:'0' | vietNamDong }}</h6>
                        </div>
                        <!--<div class="stats-small__data">
                            <span class="stats-small__percentage stats-small__percentage--decrease">3.8%</span>
                        </div>-->
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-8"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>
<style>
    .theothang:focus-visible {
        outline: white;
    }
    .stats-small--1 .stats-small__label {
        font-size: 22px !important;
    }
    /*.stats-small {*/
       /* min-height: 8.7rem;
        overflow: hidden !important;*/
        /*background: aquamarine !important;
    }
    .stats-small--1 .stats-small__label {
       font-size: 14px !important;
    }*/
</style>