<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Zing MP3</span>
            <h3 class="page-title">Quản Lý Nội Dung</h3>
        </div>
    </div>
    <!-- End Page Header -->
    <!-- Small Stats Blocks -->
    <div class="row">
        <div class="col-md-12 col-lg-12 box-item mb-5 border-right aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
            <div class="ozoho-apps-category text-center">
                <ul>
                    <li class="pull-left pl-3" style="margin-bottom:8px"><img src="/assets/images/iconDashBoard/list_96c93c87.png" class="icon-category"><a href="/Admin/CMSCategory" data-toggle="modal"><span>&nbsp;&nbsp;&nbsp;</span><label style="cursor:pointer">Danh mục </label></a></li>
                    <li class="pull-left pl-3" style="margin-bottom:8px"><img src="/assets/images/iconDashBoard/baihattt.png" class="icon-category"><a href="/Admin/CMSItem" data-toggle="modal"><span>&nbsp;&nbsp;&nbsp;</span><label style="cursor:pointer">Bài Hát</label></a></li>
                    <li class="pull-left pl-3" style="margin-bottom:8px"><img src="/assets/images/iconDashBoard/licensing_550404e9.png" class="icon-category"><a href="/Admin/CMSDocument" data-toggle="modal"><span>&nbsp;&nbsp;&nbsp;</span><label style="cursor:pointer">Danh sách văn bản</label></a></li>
                    <li class="pull-left pl-3" style="margin-bottom:8px"><img src="/assets/images/iconDashBoard/survey_e0662c06.png" class="icon-category"><a href="/Admin/CMSComment" data-toggle="modal"><span>&nbsp;</span><label style="cursor:pointer">Ý kiến bạn đọc</label></a></li>
                    <li class="pull-left pl-3" style="margin-bottom:8px"><img src="/assets/images/iconDashBoard/maintenance_234f2014.png" class="icon-category"><a href="/Admin/CMSLink" data-toggle="modal"><span>&nbsp;</span><label style="cursor:pointer">Links liên kết</label></a></li>
                    <li class="pull-left pl-3" style="margin-bottom:8px"><img src="/assets/images/iconDashBoard/project_c8042a7a.png" class="icon-category"><a href="/Admin/CMSManagementSlide" data-toggle="modal"><span>&nbsp;</span><label style="cursor:pointer">Quản lý Slider</label></a></li>
                    <li class="pull-left pl-3" style="margin-bottom:8px"><img src="/assets/images/iconDashBoard/050-education.png" class="icon-category"><a href="/Admin/CMSManagementBanner" data-toggle="modal"><span>&nbsp;</span><label style="cursor:pointer">Quản lý Banner</label></a></li>
                    <li class="pull-left pl-3" style="margin-bottom:8px"><img src="/assets/images/iconDashBoard/106-technical-support.png" class="icon-category"><a href="/Admin/CMSVideo" data-toggle="modal"><span>&nbsp;</span><label style="cursor:pointer">Quản lý Video</label></a></li>
                    
                </ul>
            </div>
        </div>
        <!--<div class="col-md-6 col-lg-6 box-item mb-5 border-right aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
            <div class="ozoho-apps-category text-center">
                <h4>Camera</h4>
                <p></p>
                <ul>
                    <li class="pull-left pl-1" style="margin-bottom:8px"><img src="/images/iconDashBoard/video_91b67bc0.png" class="icon-category"><a href="/Admin/CameraList" data-toggle="modal"><span>&nbsp;</span><label style="cursor:pointer">Danh sách Camera</label></a></li>
                    <li class="pull-left pl-1" style="margin-bottom:8px"><img src="/images/iconDashBoard/settings_77273f93.png" class="icon-category"><a href="/Admin/CameraIncident" data-toggle="modal"><span>&nbsp;</span><label style="cursor:pointer">Sự cố Camera</label></a></li>
                    <li class="pull-left pl-1" style="margin-bottom:8px"><img src="/images/iconDashBoard/order (1)_d2b3f8ad.png" class="icon-category"><a href="/Admin/CameraUpdateByShift" data-toggle="modal"><span>&nbsp;</span><label style="cursor:pointer">Cập nhật Camera</label></a></li>
                    <li class="pull-left pl-1" style="margin-bottom:8px"><img src="/images/iconDashBoard/survey_e0662c06.png" class="icon-category"><a href="/Admin/DecisionRepairCamera" data-toggle="modal"><span>&nbsp;</span><label style="cursor:pointer">Quyết định sửa chữa Camera</label></a></li>
                    <li class="pull-left pl-1" style="margin-bottom:8px"><img src="/images/iconDashBoard/maintenance_234f2014.png" class="icon-category"><a href="/Admin/DecisionHandle" data-toggle="modal"><span>&nbsp;</span><label style="cursor:pointer">Xử lý quyết định Camera</label></a></li>
                    <li class="pull-left pl-1" style="margin-bottom:8px"><img src="/images/iconDashBoard/project_c8042a7a.png" class="icon-category"><a href="/Admin/CameraAcceptance" data-toggle="modal"><span>&nbsp;</span><label style="cursor:pointer">Nghiệm thu hệ thống Camera</label></a></li>

                </ul>
            </div>
        </div>-->
    </div>
</div>