<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->

    <div class="page-header row no-gutters py-4">
        <h3  style="padding-left: 30%; font-family: sans-serif; font-size: 2.953rem; " class="m-0">Hóa Đơn Người Dùng</h3>
    </div>
    <div class="page-header row no-gutters py-4" ng-show="taiThongKe.length > 0 ">
      
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0" style=" display: flex; flex-direction: column; flex-wrap: nowrap;">

            <div style=" display: flex; /* flex-direction: row; */ /* flex-wrap: nowrap; */ width: 230%; /* height: 51%; */ align-items: center;">
                <!--<button  id="" type="submit" ng-click="chuyenDoi('email')" class="btn btn-accent " style=" width: 20%;    padding: 0.5625rem 0rem;">Email</button>-->
                <span style=" padding: 10px;">Nhập email:</span> <input style="width:200px; margin-left:45px" type="text" class="form-control" ng-model="timkiem.email" ng-change="currentPage = 0;">     
                <span style=" padding: 10px;">Nhập họ tên:</span> <input style="width:200px;" type="text" class="form-control" ng-model="timkiem.hoten" ng-change="currentPage = 0;">     <button id=""  ng-click="timkiem.email = '';timkiem.hoten = '';" class="btn btn-accent " style="margin-left:5px">Xóa</button>

            </div>
            <div style=" display: flex; /* flex-direction: row; */ /* flex-wrap: nowrap; */ width: 230%; /* height: 51%; */ align-items: center;">
                <!--<button  id="" type="submit" ng-click="chuyenDoi('email')" class="btn btn-accent " style=" width: 20%;    padding: 0.5625rem 0rem;">Email</button>-->
                <span style=" padding: 10px;">Nhập mã hóa đơn:</span> <input style="width:200px; " type="text" class="form-control" ng-model="model.mahoadon">     <button id=""  ng-click="ChiTietHoaDon(model.mahoadon)" class="btn btn-accent " style="margin-left: 5px">Lấy Hóa Đơn</button>

            </div>
        </div>

    </div>
  
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row" ng-show="taiThongKe.length <= 0 ">
        <div class="col">
            <div class="card card-small mb-4 dodai" style="height: 450px!important; max-height: 450px!important;">
                <div style=" display: flex; flex-wrap: wrap; flex-direction: column;" class="card-body p-0 pb-3 text-center">
                    <span style="font-size:xx-large;">Danh sách thống kê Trống !!!</span>
                    <span style="font-size:14px;">Hãy chọn ngày tháng năm để lấy danh sách</span>
                    <i style=" font-size: 500px;" class="fa fa-list-alt" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="taiThongKe.length > 0 ">
        <div class="col">
            <div class="card card-small mb-4 dodai" style="height: 450px!important; max-height: 450px!important;">
                <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0 dodaibang" style="">
                        <thead class="bg-light">
                            <tr>
                                <!--<th scope="col" class="border-0">id</th>-->
                                <th scope="col" class="border-0" >STT</th>
                                <th scope="col" class="border-0" >Email Người Dùng</th>
                                <th scope="col" class="border-0" >Tên Người Dùng</th>
                                <!--<th scope="col" class="border-0" style="border-bottom: 1px solid #017bfd !important;">Hình Thức Thanh Toán </th>
    <th scope="col" class="border-0" style="border-bottom: 1px solid #017bfd !important;">Giá Tiền</th>-->
                                <th scope="col" class="border-0" >Ngày Thanh Toán</th>
                                <th scope="col" class="border-0" >Chi Tiết</th>

                            </tr>
                            <!--<tr>-->
                                <!--<th scope="col" class="border-0">id</th>-->
                                <!--<th scope="col" class="border-0" style="background:white;"></th>
                                <th scope="col" class="border-0" style="background:white;"></th>
                                <th scope="col" class="border-0" style="background:white;"></th>
                                <th scope="col" class="border-0" style="background:white;"></th>-->
                                <!--<th scope="col" class="border-0" style="background:white;">Số Hóa Đơn : {{taiThongKe.length}}</th>
                                <th scope="col" class="border-0" style="background:white;">Tổng Tiền : {{tongTien | number:'0' | vietNamDong }}</th>-->



                            <!--</tr>-->
                        </thead>
                        <tbody>
                            <tr style="" ng-repeat="data in taiThongKe | filter:timkiem | startFrom:currentPage*pageSize | limitTo:pageSize">
                                <td class="vitrigiua">{{($index + 1 * (currentPage*pageSize)) +1 }}</td>
                                <td class="vitrigiua">{{data.email}}</td>
                                <td class="vitrigiua">{{data.hoten}}</td>
                                <!--<td class="vitrigiua">{{data.hdtt.phuongthucthanhtoan}}</td>
    <td class="vitrigiua">{{data.hdtt.giatien | number:'0' | vietNamDong}}</td>-->
                                <td class="vitrigiua">{{data.hdtt.thoigian | date:'dd/MM/yyyy'}}</td>

                                <!--<td class="vitrigiua" style="width: 100px;">
        <p class="motadsptl" title="{{data.hdtt.mota}}">{{data.hdtt.mota}}</p>

    </td>-->

                                <td class="vitrigiua"> <button ng-click="ChiTietHoaDon(data.hdtt.id)" style="width: 25px; height: 25px; padding: 0px;-webkit-box-shadow: 0 2px 5px 0 rgba(85,168,253,0.45);" class="btn btn-accent blue "><i class="fa fa-edit"></i></button>       </td>

                            </tr>
                        </tbody>
                    </table>
                    <span class="khungso"> {{currentPage+1}}/{{numberOfPages()}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding:0px 0px 0px 15px" ng-if="taiThongKe.length > 0 ">
        <!--{{currentPage+1}}/{{numberOfPages()}}-->
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-primary" style="padding-left: 0px;">
                <li class="page-item" ng-click="Truoc()"><a class="page-link" href="">Trước</a></li>
                <li class="page-item" ng-repeat="a in range(numberOfPages())| limitTo:soLuong track by $index  ">
                    <a ng-class="{'soTrangChon': $index  == currentPage - size }" class="page-link" href="" ng-click="phanTrang( $index + size )">{{$index + 1 + size}}</a>
                </li>
                <li class="page-item" ng-click="Sau()"><a class="page-link" href="">Sau</a></li>
            </ul>
        </nav>
    </div>
    <div class="row" id="thongke_id" hidden>
        <div class="col">
            <div class="card card-small mb-4 ">
                <div class="card-header border-bottom">

                    <h3 ng-if="model.hienTimKiem == 'theongay'" style=" padding-left: 30%; " class="m-0">Báo Cáo Doanh Thu Theo Ngày</h3>
                    <h3 ng-if="model.hienTimKiem == 'theothang'" style=" padding-left: 30%;" class="m-0">Báo Cáo Doanh Thu Theo Tháng</h3>
                    <h3 ng-if="model.hienTimKiem == 'theonam'" style=" padding-left: 30%;" class="m-0">Báo Cáo Doanh Thu Theo Năm</h3>
                </div>
                <div class="card-header border-bottom">
                    <h5 ng-if="model.hienTimKiem == 'theongay'" style=" padding-left: 30%; font-size:14px;" class="m-0">Từ ngày:{{model.ngaybatdau | date:'dd/MM/yyyy'}} Đến ngày: {{model.ngayketthuc | date:'dd/MM/yyyy'}}</h5>
                    <h5 ng-if="model.hienTimKiem == 'theothang'" style=" padding-left: 30%;" class="m-0">Theo tháng: {{model.theothang | date:'MM/yyyy'}}</h5>
                    <h5 ng-if="model.hienTimKiem == 'theonam'" style=" padding-left: 30%;" class="m-0">Theo năm: {{model.theonam | date:'yyyy'}}</h5>
                </div>
                <div class="card-header border-bottom">

                </div>
                <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0 " style="border: 1px solid black;">
                        <thead class="bg-light">
                            <tr>
                                <!--<th scope="col" class="border-0">id</th>-->
                                <th style="border: 1px solid black;" scope="col" class="border-0">STT</th>
                                <th style="border: 1px solid black;" scope="col" class="border-0">Email người dùng</th>
                                <th style="border: 1px solid black;" scope="col" class="border-0">Hình Thức Thanh Toán </th>
                                <th style="border: 1px solid black;" scope="col" class="border-0">Giá Tiền</th>
                                <th style="border: 1px solid black;" scope="col" class="border-0">Ngày Thanh Toán</th>
                                <th style="border: 1px solid black;" scope="col" class="border-0">Mô Tả</th>

                            </tr>
                            <tr>
                                <!--<th scope="col" class="border-0">id</th>-->
                                <th style="border: 1px solid black;" scope="col" class="border-0"></th>
                                <th style="border: 1px solid black;" scope="col" class="border-0"></th>
                                <th style="border: 1px solid black;" scope="col" class="border-0"></th>
                                <th style="border: 1px solid black;" scope="col" class="border-0"></th>
                                <th style="border: 1px solid black;" scope="col" class="border-0">Số Hóa Đơn : {{taiThongKe.length}}</th>
                                <th style="border: 1px solid black;" scope="col" class="border-0">Tổng Tiền : {{tongTien | number:'0' | vietNamDong }}</thstyle="border:>


                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in taiThongKe">
                                <td style="border: 1px solid black;" class="vitrigiua "><span>{{$index + 1}}</span></td>
                                <td style="border: 1px solid black;" class="vitrigiua">{{data.email}}</td>
                                <td style="border: 1px solid black;" class="vitrigiua "><span>{{data.hdtt.phuongthucthanhtoan}}</span></td>
                                <td style="border: 1px solid black;" class="vitrigiua "><span>{{data.hdtt.giatien | number:'0' | vietNamDong}}</span></td>
                                <td style="border: 1px solid black;" class="vitrigiua "><span style="text-align:center;">{{data.hdtt.thoigian | date:'dd/MM/yyyy'}}</span></td>

                                <!--<td class="vitrigiua "><span>{{data.hdtt.tenbaihat}}</span></td>
                                <td class="vitrigiua">{{$index + 1}}</td>
                                <td class="vitrigiua">{{data.hdtt.phuongthucthanhtoan}}</td>
                                <td class="vitrigiua">{{data.hdtt.giatien | number:'0' | vietNamDong}}</td>
                                <td class="vitrigiua">{{data.hdtt.thoigian | date:'dd/MM/yyyy'}}</td>-->
                                <td style="border: 1px solid black;" class="vitrigiua" style="width: 100px;">
                                    <p class="motadsptl" title="{{data.hdtt.mota}}">{{data.hdtt.mota}}</p>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->
    <!-- Default Dark Table -->

</div>
<style>
    .motadsptl {
        text-overflow: Ellipsis;
        width: 370px;
        white-space: nowrap;
        overflow: hidden;
    }

    .soTrangChon {
        background-color: #006fe6 !important;
        color: white !important;
    }
    .Chon {
        background-color: red !important;
        color: white !important;
    }

    .page-link:hover {
        background-color: #006fe6 !important;
        color: white !important;
    }

    .khungso {
        border: 1px solid #006fe6;
        border-radius: 9px;
        padding: 6px;
    }

    .anh {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

        .anh:hover {
            color: red !important;
        }

    table {
        border-collapse: inherit;
    }

    .table td {
        border-top: 1px solid #007bff !important;
    }
   
</style>