
@{
    ViewData["Title"] = "Quản trị người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}




    <div id="contentMain" ng-app="T_Music" ng-controller="T_Music">

        <div style="min-height:100px" ng-view> </div>
    </div>

<script src="~/views/admin/quanLyNguoiDung/controller.js" type="text/javascript"></script>
