
@{
    ViewData["Title"] = "Đăng Nhập";

}
<link href="~/assets/css/dangnhap.css" rel="stylesheet" />
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Đăng Nhập </h2>
        

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/image/logo.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Đăng Nhập">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="~/Admin/Account/Signup">Đăng Ký</a>
            <a class="underlineHover" href="#">Quên Mật Khẩu</a>
        </div>

    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
